/* ===START BY STYLING FONT, LINE-HEIGHT, TEXT-COLOR, AND ALL THE THINGS YOU CAN DO USING THE ELEMENT SELECTOR=== */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3f88;
  --grey-color: #002240;
  --light-color: #444;
  --text-color: #333;
  --white-color: #fff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 300;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--text-color);
  line-height: 1.6;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

code,
pre {
  background: #333;
  color: white;
  padding: 10px;
}
/* ===NAVBAR STYLING=== */
.navbar {
  background-color: var(--primary-color);
  color: white;
  height: 70px;
}
.navbar ul {
  display: flex;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar a {
  color: white;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px solid white;
}

/* ===MENU BAR=== */
.menu-bar.grid {
  height: 100vh;
  grid-template-rows: auto 3fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  padding: 20px 40px;
}

.fa-white {
  color: white;
  background-color: var(--grey-color);
  border: none;
  cursor: pointer;
}

.color-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 12;
}

.menu-bar {
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 101;
  width: 60vw;
  transition: width 0.5s ease;
}
.close-btn-menu {
  justify-self: self-end;
}

.menu-links {
  grid-row: 2/3;
}

/* ===SHOWCASE=== */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: white;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 1.2fr 1fr;
  justify-content: space-between;
  gap: 30px;
}

.showcase-text {
  animation: slideInFromLeft 0.5s ease-in;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 11;
  animation: slideInFromRight 0.5s ease-in;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: none;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
  border-bottom: 1px solid var(--primary-color);
  transition: border-bottom 0.2s ease-in;
}

.showcase::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  height: 90px;
  bottom: -50px;
  background-color: white;
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  -moz-transform: skewY(-4deg);
  -ms-transform: skewY(-4deg);
}

/* ===STATS=== */
.stats {
  padding-top: 100px;
  animation: slideInFromBottom 0.5s ease-in;
}

.stats-heading {
  max-width: 500px;
  margin: 0 auto;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

/* ====CLI==== */
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
  grid-column: span 2;
  grid-row: span 2;
}

/* ====CLOUD SERVICES==== */
.cloud .grid {
  grid-template-columns: repat(3, 1fr);
}

/* ====LANGUAGES==== */

.languages .flex {
  flex-wrap: wrap;
}

.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
  width: 125px;
}

.languages .card {
  font-size: 20px;
  margin-bottom: 40px;
}

.languages .card:hover {
  transform: translateY(-15px);
}

/* ===FEATURES PAGE=== */
/* ==HEADER== */
.features-head img {
  width: 200px;
  justify-self: flex-end;
}

.features-sub-head img {
  width: 300px;
  justify-self: flex-end;
}

/* ==FEATURES MAIN== */
.features-main .card > i {
  margin-right: 20px;
}

.features-main .grid {
  padding: 30px;
  grid-template-rows: repeat(3, minmax(100px, auto));
}

.features-main .container > :first-child {
  grid-column: span 3;
}

.features-main .container > :nth-child(2) {
  grid-column: span 2;
}

/* ===DOCS PAGE=== */
/*==HEAD==*/
.docs-head img {
  width: 200px;
  justify-self: flex-end;
}

/* ===SUBHEAD=== */
.docs-main h3 {
  margin: 20px 0;
}

.docs-main .container.grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.docs-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.docs-main nav ul a:hover {
  font-weight: bold;
}
/* ====FOOTER==== */
.footer .social a {
  margin: 0 10px;
}

.fa-github:hover {
  color: rgb(75, 75, 75);
}
.fa-facebook:hover {
  color: rgb(22, 43, 230);
}
.fa-instagram:hover {
  color: rgb(248, 27, 82);
}
.fa-twitter:hover {
  color: rgb(33, 181, 250);
}

/* ===ANIMATIONS==== */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* =====MEDIA QUERIES==== */

/* ===TABLET AND UNDER=== */
@media (max-width: 768px) {
  /* ===HOME PAGE=== */
  .navbar {
    width: auto;
  }
  .grid,
  .showcase .grid,
  .cli .grid,
  .stats .grid,
  .cloud .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
  }

  .showcase-form {
    justify-self: center;
    width: 400px;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  /* ====FEATURES PAGE==== */

  .features-head .container.grid,
  .features-sub-head .container.grid {
    text-align: center;
    justify-items: center;
  }

  .features-head img,
  .features-sub-head img {
    justify-self: center;
  }

  .features-main .container.grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(100px, auto));
  }

  .features-main .container > :first-child {
    grid-column: span 1;
  }
  .features-main .container > :nth-child(2) {
    grid-column: span 1;
  }

  /* ====DOCS PAGE==== */
  .docs-head .grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .docs-head img {
    justify-self: center;
  }

  .docs-main .container.grid {
    grid-template-columns: 1fr;
    justify-items: stretch;
  }
}

/* ===MOBILE=== */
@media (max-width: 500px) {
  .navbar nav {
    display: none;
  }

  .menu-toggler-btn {
    display: block;
    padding-right: 0;
  }

  .showcase-form {
    justify-self: center;
    width: 100%;
  }

  .languages .flex {
    justify-content: space-around;
  }
}
